@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body { background: #f1f1f1; font-family: "Open Sans", sans-serif; }

.main .sidebarWrapper{ height: 100vh; }
.main .sidebarWrapper .sidebar { height: 100vh; background: black }
.main .sidebarWrapper .sidebar .sidebarTabs ul { width: 100%; margin-bottom: 0px; }
.main .sidebarWrapper .sidebar .sidebarTabs li { list-style-type: none; width: 100%; }

.main .sidebarWrapper .sidebar .sidebarTabs button { justify-content: flex-start !important; text-transform: capitalize; font-size: 14px; font-weight: 600; padding: 4px 10px !important; position: relative;}

.main .sidebarWrapper .sidebar .sidebarTabs button svg { font-size: 20px; }
.main .sidebarWrapper .sidebar .sidebarTabs button .arrow svg { font-size: 20px; }
.main .sidebarWrapper .sidebar .sidebarTabs button .arrow{ transition: all 0.3s  }
.main .sidebarWrapper .sidebar .sidebarTabs button:hover { background: #f1f1f1 !important; }

.main .sidebarWrapper .sidebar .sidebarTabs button::before { content: ''; width: 5px; height: 100%; position: absolute; top: 0px; left: -16px; background: #3872fa; border-top-right-radius: 5px; border-bottom-right-radius: 5px; transition: all 0.3s; opacity: 0; }
.main .sidebarWrapper .sidebar .sidebarTabs button .arrow.rotate{ transform: rotate(90deg); }
.main .sidebarWrapper .sidebar .sidebarTabs button:hover::before { top: 0px; height: 100%; opacity: 1; }

.main .sidebarWrapper .sidebar .sidebarTabs button.active *{ color: #3872fa !important; }

.main .sidebarWrapper .sidebar .sidebarTabs li { position: relative; }
.main .sidebarWrapper .sidebar .sidebarTabs li .submenu {position: relative; top: 100%; left: 0px; height: 0; opacity: 0; overflow: hidden; transition: all .3s; }
.main .sidebarWrapper .sidebar .sidebarTabs li.colapse .submenu{ height: auto; opacity: 1; }
.main .sidebarWrapper .sidebar .sidebarTabs li .submenu button::before { display: none; }
.main .sidebarWrapper .sidebar .sidebarTabs li .submenu button::after { content: ''; width: 5px; height: 5px; background: #ccc; border-radius: 100%; position: absolute; top: 48%; left: 10%; }

.main .sidebarWrapper .sidebar .sidebarTabs li .submenu button { padding: 4px 20px 4px 40px !important; font-weight: 600; color: #9f9f9f; justify-content: flex-start !important; }

.main .sidebarWrapper .sidebar li .submenuWrapper {transition: all 0.4s; height: 0px; overflow: hidden; opacity: 0;}
.main .sidebarWrapper .sidebar li .submenuWrapper.colapsed .submenu {opacity: 0;}
.main .sidebarWrapper .sidebar li .submenuWrapper.colapse {height: auto; overflow: inherit; opacity: 1; padding: 10px 0px;}
.main .sidebarWrapper .sidebar li .submenuWrapper.colapse .submenu {opacity: 1; height: auto;}

.dashboardBoxWrapper{gap: 15px; width: 100%; flex-wrap: wrap; justify-content: space-between;}
.dashboardBoxWrapper .dashboardBox{width: 32.3%; height: 140px; border-radius: 10px; overflow: hidden; padding: 20px; display: flex; flex-direction: column;
    justify-content: space-around; text-align: left !important; position: relative; color: #fff; text-transform: capitalize !important; }

.dashboardBoxWrapper .dashboardBox .col1 h4{font-size: 16px; font-weight: 600;}
.dashboardBoxWrapper .dashboardBox .col1 span{font-size: 35px !important; font-weight: bold;
line-height: 45px;}


.dashboardBoxWrapper .dashboardBox .icon{display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; border-radius: 10px; background-image: linear-gradient(to bottom right, rgba(0,0,0,0.0), rgba(0,0,0,0.3));}
.dashboardBoxWrapper .dashboardBox .icon svg{font-size: 36px; opacity: 0.4; color: #fff;}

.dashboardBoxWrapper .dashboardBox  .toggleIcon{font-size: 22px; color: rgba(0,0,0,0.5); cursor: pointer; min-width: 40px !important; width: 40px !important; height: 40px !important; border-radius: 50% !important;}

.dashboardBoxWrapper .dashboardBox .chart{ opacity: 0.050; position: absolute; bottom: 20px; left: 20px;}
.dashboardBoxWrapper .dashboardBox .chart svg{font-size: 110px; color: #000;}

.dashboardBoxWrapper .dashboardBox .bottomEle{position: relative; top: 15px;}

.dashboardBoxWrapperRow .box{width: 100%; height: 100%; }

.dashboardBoxWrapperRowV2 .dashboardBox{width: 32%; height: 120px !important;}

.dashboardBoxWrapperRowV2 .dashboardBox .bottomEle{display: none !important;}

.dashboardBoxWrapper .dashboardBox .MuiList-root svg{color: #000 !important; font-size: 17px !important; margin-right: 10px !important;}

.dropdown_menu .MuiButtonBase-root svg{margin-right: 10px !important;}

.graphBox{background-image: linear-gradient(#1a50b5, #2a6ff7); border-radius: 10px; padding: 25px;}

.toggleIcon{font-size: 22px; color: rgba(0,0,0,0.5); cursor: pointer; min-width: 40px !important; width: 40px !important; height: 40px !important; border-radius: 50% !important;}
.toggleIcon svg{color: #fff !important; font-size: 20px !important; opacity: 1 !important;}

.graphBox h4{font-size: 16px; font-weight: 600;}
.graphBox p{font-size: 13px; color: #fff; opacity: 0.7;}

.card h1{font-size: 18px;}

.card h2 {
    font-size: inherit !important;
}

.form .col_ h4{font-weight: 700; font-size: 14px; margin-bottom: 10px;}
.form .col_.lg h4{font-size: 16px;}
.form .form-group{margin-bottom: 20px;}
.form .form-group .input{width: 100%; height: 40px; border: 1px solid rgba(0,0,0,0.2); outline: none !important; border-radius: 4px !important; padding: 0px 15px; transition:all 0.3s; background: transparent;}
.form .form-group textarea.input{height: 120px; padding-top: 15px;}
.form .form-group .input:hover{border: 1px solid rgba(0,0,0,0.4); }

.form .form-group .input.lg{height:50px;}

.form .form-group  button{position: absolute; width: 40px !important; height: 40px !important; min-width: 40px !important; color: #464646 !important; border-radius: 100% !important; top: 5px; right: 10px; z-index: 100;}
.form .form-group  button svg{font-size: 20px !important; }

h1, h2, h3, h4, h5, h6, p {
    color: #403e57;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.no-link-style {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Mantiene el color heredado del botón o icono */
}

/* Caja de carga de imágenes */
.imgUploadBoxWrapper {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 20px auto;
  }
  .imgUploadBoxWrapper .remove {
    border-radius: 100%;
    background: #d32f2f;
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 100;
    cursor: pointer;
  }
  .imgUploadBoxWrapper .remove svg {
    font-size: 14px;
    color: #fff;
  }
  
  .imgUploadBox {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    transition: 0.3s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .imgUploadBox:hover {
    border: 2px dashed rgba(0, 0, 0, 0.7);
    background-color: #eef6ff;
    transform: scale(1.05);
  }
  .imgUploadBox h4 {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
  }
  .imgUploadBox .icon {
    font-size: 36px;
    color: #4a90e2;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
  }
  .imgUploadBox:hover .icon {
    color: #346ae7;
    opacity: 1;
  }
  .imgUploadBox input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
  }
  
  /* Botón */
  .btn-blue {
    display: inline-block;
    padding: 12px 24px;
    background: linear-gradient(90deg, #346ae7, #5795f9);
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    box-shadow: 0px 4px 6px rgba(52, 106, 231, 0.3);
    border: none;
  }
  .btn-blue:hover {
    background: linear-gradient(90deg, #2853c7, #4a82e8);
    box-shadow: 0px 6px 10px rgba(52, 106, 231, 0.4);
  }  



  .table th{font-size: 12px; font-weight: 800; color: #666666;}
  .card tr th:first-child,.card tr td:first-child{padding-left: 25px;}
  table th,table td{vertical-align: middle !important;}
  
  
  table td .info p {
    color: #5e5d72;
    font-size: 13px;
    line-height: 18px;
  }
  
  table td .info h6, table td .info p {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  
  table td .info h6 {
    font-size: 14px;
    font-weight: 600;
  }
  h1, h2, h3, h4, h5, h6, p {
    color: #403e57;
  }
  
  .table td .new, .table td .old {
    display: block;
    width: 100%;
    font-size: 12px;
  }
  
  .table td .actions button{border: 1px solid rgba(0,0,0,0.2);}
  .table td .actions button:hover{border: 1px solid rgba(0,0,0,0.4);}
  .table td .actions button svg{opacity: 0.7; transition: all 0.3s;}
  .table td .actions button:hover svg{opacity: 1;}